/* Very little css here because most of it was done using bootstrap classes */

#theContent {
  width: 100vw;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  overflow-x: hidden;
}

.media {
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.articleImage {
  border-radius: 8px 0px 0px 8px;
}

.media-body {
  margin-left: 2%;
  margin-right: 0.5%;
}

.list-group-horizontal {
  margin-top: 2%;
  margin-bottom: 1%;
}