<div id="bodyDiv">
  <div id="alertDiv"></div>
  <h1 class="text-center mb-3" id="title"><b>Profile Information</b></h1>
  <div class="input-group mb-3 mx-auto" id="inputHolder">
    <input type="text" class="form-control" placeholder="Vanity Url Name" aria-label="Vanity Url Name"
    aria-describedby="basic-addon2" id="usernameInput">
    <div class="input-group-append">
      <app-ajax (sendDataEvent)="fillData($event)"></app-ajax>
    </div>
  </div>
  <ul class="list-group bg-transparent text-center">
    <li class="list-group-item bg-transparent p-0 border-0"><img id="avatar" src=""></li>
    <li class="list-group-item bg-transparent p-0 border-0"><h2 id="displayName"></h2></li>
    <li class="list-group-item bg-transparent p-0 border-0"><h4 id="status"></h4></li>
    <li class="list-group-item bg-transparent p-0 border-0"><h4 id="id"></h4></li>
    <li class="list-group-item bg-transparent p-0 border-0"><h4 id="gameCount"></h4></li>
    <li class="list-group-item bg-transparent p-0 border-0"><h4 id="lastOnline"></h4></li>
  </ul>
</div>
<app-ajax></app-ajax>

<router-outlet></router-outlet>
