#bodyDiv {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0b1526;
  background-image: linear-gradient(180deg, #0b1526 0%, #4f91b1 100%);
}

#inputHolder {
  width: 50%;
}

#title {
  color: #c1e4ff;
}

#usernameButton {
  background-color: rgb(25, 173, 82);
  color: black;
}

#title {
  margin-top: 20vh;
}

@media (max-width: 800px) {

  #inputHolder {
    width: 100%;
  }
}