<div class="input-group mb-1 w-25 mx-auto" id="keyHolder">
  <span class="input-group-text" id="basic-addon1">Key:</span>
  <input type="text" class="form-control" placeholder="# (not used by POST)" aria-label="Username" aria-describedby="basic-addon1" id="keyInput">
</div>
<div class="input-group mb-1 w-50 mx-auto">
  <textarea class="form-control" aria-label="With textarea" id="bodyInput"></textarea>
  <span class="input-group-text">Body</span>
</div>
<div class="btn-group mx-auto w-25" role="group" aria-label="Basic mixed styles example" id="buttonHolder">
  <button type="button" class="btn btn-success" (click)="getRequest()">GET</button>
  <button type="button" class="btn btn-warning" (click)="postRequest()">POST</button>
  <button type="button" class="btn btn-warning" (click)="putRequest()">PUT</button>
  <button type="button" class="btn btn-danger" (click)="deleteRequest()">DELETE</button>
</div>
<p id="output" class="overflow-auto"></p>